<p id="notice"><%= notice %></p>

<h1>This is experiment # <%= @experiment.id %></h1>

<h2>
  <strong>Title:</strong>
  <%= @experiment.title %>
</h2>

<h3>
  <strong>Body:</strong>
</h3>
<p>
  <%= @experiment.body %>
</p>

<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>
